#tabler {
    width: 650px;
    height: 300px;
    margin: 0 auto;
}

.head {
    background-color: black;
    color: white;
    text-align: center;
    padding: 3px;
}

.list{
    margin: 0;
    border-collapse: collapse;
    width: 144px;
    color: blue;
    list-style: none;
    float: left;
    height: 100%;
    padding: 0;
    border-right: 2px black solid;
    border-left: 2px black solid;

}

.valtys {
    overflow: hidden;
    width: 450px;
    float: right;
    height: 100%;
    border-right: 2px black solid;
    padding-right: 25px;
    padding-left: 25px;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 25px;

}

ul {
    list-style: none;
}

.clear {
    clear: both;
}

h3 {
    font-size: 25px;
    margin-top: 60px;
}

.wtf

