* {
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
}

.clear {
    clear: both;
    content: "";
}

.container {
    width: 720px;
    margin: auto;
    background-color: lightgray;
}

.inputs {
    width: 60%;
    float: left;
    text-align: left;
}

.inputs input {
    line-height: 17px;
    margin: 5px 0;
    width: 50%;
}

.in-names {
    float: left;
    width: 25%;
    text-align: right;
}

.in-names span {
    line-height: 2;
    margin: 0 5px;
    font-weight: bold;
}

div button {
    line-height: 2;
    margin: 25px;
}

.margin-top-35px {
    margin-top: 35px;
    padding: 25px 0;
}

.margin-top-35px input {
    margin-left: 20px;
    width: 25%;
    float: left;
}

.margin-top-35px span{
    text-align: left;
    float: left;
    margin-left: 120px;
}

.margin-top-35px button {
    float: left;
    margin: 0 10px;
    line-height: 17px;
}